<!-- HWD 01/12/13 Creation -->
<div class="container">
	<div class="row-fluid pitch">
      <div class="span5 offset1">
      	{{#photos}}
      	<img class="img-polaroid" style='width: 250px; height: 250px' alt="Placeholder" src="{{url}}"/>
      	{{/photos}}
      </div>

      <div class="span5 copy copy-right">
        <p>Hamish Dickson</p>
        <p>Founder, Snowbear.co</p>
        <p>After studying physics at university I found a job in London. We make financial software for investment banks.</p>
        <p>Look me up on <a href="https://twitter.com/_mishy">twitter</a> or <a href="uk.linkedin.com/pub/hamish-dickson/67/3b0/47b/">LinkedIn</a></p>
      </div>
  </div>
</div>